.club {
    border: 10px solid black;
    border-radius:25px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 250px;
    background-color: forestgreen;
}
  
.left {
    width: 50%;
}
  
.right {
    width: 50%;
    text-align: right;
}