<p>club-box works!</p>
<!--This component will render the specific club with it's info & slideshow-->
<!-- <div *ngIf="club">
    <p>Name: {{ club[0] }}</p>
    <p>Description: {{ club[1].description }}</p>
    <p>Leader: {{club[1].leader}}</p>
    <p>Hyperlink: {{club[1].hyperlink}}</p>
</div> -->
<!--If the club object is successfully returned I want to be able to access it's data members of -->

<div *ngIf="club">
    <div class=left>
        <app-slideshow></app-slideshow>
    </div>
    <div class=right>
        <a href={{club[1].hyprlink}}><strong>club{{0}}</strong></a>
        <p>Description: {{ club[1].description }}</p>
        <p>Email: {{club[1].contact}}</p>
        <p>Leader: {{club[1].leader}}</p>
        <p>Hyperlink: {{club[1].hyperlink}}</p>
    </div>
</div>