<header>
    <div class="homepageBar">
        <div class="left-content">
            <img src="assets/box_logo.jpg" alt="PACK logo" class="logo">
            <h1 class="title">{{welcomeMessage}}</h1>
        </div>
        <div class="right-content">
            <button type="button" class="btn-primary" (click)="goToRegisterPage()">Add Club</button>
            <button type="button" class="btn-primary" (click)="goToHomePage()">Home</button>
            <button type="button" class="btn-primary" (click)="goToLoginPage()">Login</button>
            <button type="button" class="btn-primary" (click)="goToRegisterPage()">Register</button>
        </div>
    </div>
  </header>

<body>
    <div class="searchBar">
        <label for="searchBar"><b>Search for a club here:</b></label>
        <input type="text" id="searchBar" [(ngModel)]="searchTerm" (keyup)="performSearch()">
    </div>
</body>


<!--Home page should aim to have the following functionality
    1. Feature a search bar for a user to search for the name of a specific club
    2. Display some of the clubs (5-10) with hyperlinks built into their names to support navigation to their external site
    3. Include a text description of the club and its purpose along with a picture of events
    4. Nice visuals to give it a clean look (I'm thinking add a simple slideshow of 3 images for each club with
    buttons that allow a user to click through them)
-->