<header>
    <div class="homepageBar">
        <div class="left-content">
            <img src="assets/box_logo.jpg" alt="PACK logo" class="logo">
            <h1 class="title">{{welcomeMessage}}</h1>
        </div>
        <div class="right-content">
            {{currUser}}
            <button type="button" (click)="Logout()" class="btn-primary">Log out</button>
        </div>
    </div>
    <div class="homepageBar">
        <div class="left-content">
        </div>
        <div class="right-content">
            <button type="button" (click)="goToAddPage()"class="btn-primary">Add Club</button>
            <button type="button" (click)="goToHomePage()"class="btn-primary">Home</button>
        </div>
    </div>
</header>

<div class="searchBar">
    <div class="form-group">
        <label for="searchBar"><b>Search for a club here:</b></label>
        <input type="text" id="searchBar" name="searchBar" [(ngModel)]="searchBar"><br><br>
    </div>
    <div class="form-actions">
        <button type="button" class="btn-primary" (click)="performSearch()">Search</button>
    </div>
</div>
<body>
    <div *ngIf="switch">
        <app-club-box></app-club-box>
    </div>
</body>
