/*Change style for heading on home page */
.homeBar{
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0;
    padding: 0;
    background-color: orange;
    color: white; 
}
.searchBar form {
      display: flex;
      flex-direction: row;
      align-items: center;
}

.searchBar label {
      font-weight: bold;
    font-style: italic;
}

.searchBar input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 0 10px;
  flex-grow: 1;
}

.searchBar input[type="button"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.searchBar input[type="button"]:hover {
  background-color: #3e8e41;
}

.logoutBtn input[type = "button"]{
    position: relative;
    top: 20;
    right: 20;
    background-color: royalblue;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
}
.logoutBtn input[type = "button"]:hover{
    background-color: darkblue;
}