 <!-- Toolbar -->
  <div class="toolbar" role="banner">
    <img width=40 src="assets/box_logo.jpg" />
    <span>Welcome to {{title}}</span>
  </div>
  
  <div class="content" role="main">
    <h1>
      {{title}}
    </h1>
    <form (ngSubmit)="onSubmit()">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" [(ngModel)]="username"><br><br>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" [(ngModel)]="password"><br><br>
      <div style="display: flex; justify-content: space-between;">
        <input type="submit" (click)="buttonPress()" value="Login">
        <input type="submit" (click)="buttonPress()" value="Register" style="margin-left: auto;">
      </div>
    </form>
    
    <section></section>
  </div>