<header>
    <div class="homepageBar">
        <div class="left-content">
            <img src="assets/box_logo.jpg" alt="PACK logo" class="logo">
            <h1 class="title">Fill in the criteria below</h1>
        </div>
        <div class="right-content">
            <button type="button" (click)="goToHomePage()" class="btn-primary" id="Home">Home</button>
        </div>
    </div>
</header>

<body>
    <div class="addBar">
        <div class="form-group">
                <label for="input1"><b>Enter the name of your club:</b></label>
                <input type="text" id="input1" name="input1">

                <label for="input2"><b>Enter a description of your club:</b></label>
                <input type="text" id="input2" name="input2">

                <label for="input3"><b>Enter an email for contact:</b></label>
                <input type="text" id="input3" name="input3">

                <label for="input4"><b>Enter the Club Leader's name:</b></label>
                <input type="text" id="input4" name="input4">
                
                <label for="input5"><b>Leave a link to your club's socials page:</b></label>
                <input type="text" id="input5" name="input5">
        </div>
        <div class="form-actions">
            <button type="button" (click)="SubmitInfo()" class="btn-primary" id="Submit">Submit</button>
        </div>
    </div>
    
</body>
